%contenedor{
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding:10px;
    column-gap: 30px;/*Espacio entre columnas*/
    row-gap: 40px;/*Espacio entre filas*/
    box-sizing: border-box;/*Borde dentro del ancho del contenedor*/
}

%hijo{
    background-color: rgba(255,255,255,0.8);
    border:1px solid rgba(0,0,0,0.8);
    padding:20px;
    font-size: 30px;
    text-align: center;
}


.contenedorgrid{
    display:grid;/*Se muestra como bloque*/
    @extend %contenedor;
    &__elementohijo{
        @extend %hijo;
    }
    &__elementohijo2{
        @extend %hijo;
        grid-row-start: 1; /*Para situarlo en una fila y en una columna en concreto, tendría que jugar con las dos propiedades*/
        grid-row-end: 3;
        grid-column-start:2;
        grid-column-end:3;
    }
    &__elementohijo7{
        @extend %hijo;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

.contenedorgridlinea{
    display:inline-grid;/*Se muestra en línea*/
    @extend %contenedor;
    &__elementohijo{
        @extend %hijo;
    }
}


.contenedorgridtempcolumns{
    display:grid;/*Se muestra como bloque*/
    @extend %contenedor;
    /*grid-template-columns: 20% 20% 20% 20% 20%;*/
    grid-template-columns: repeat(5, 20%);
    gap: 0;/*Propiedad resumen de column-gap y row-gap*/
    &__elementohijo{
        @extend %hijo;
    }
}

.contenedorgridtemprows{
    display:grid;/*Se muestra como bloque*/
    @extend %contenedor;
    /*grid-template-columns: 20% 20% 20% 20% 20%;*/
    grid-template-columns: repeat(5, 20%);
    gap: 0;/*Propiedad resumen de column-gap y row-gap*/
    grid-template-rows: 200px 300px 200px;
    &__elementohijo{
        @extend %hijo;
    }
}

@mixin justifycontent($valor) {
    justify-content: $valor;
    
}


.contenedorgridjustifycontentend{
    display:grid;/*Se muestra en línea*/
    @extend %contenedor;
    @include justifycontent(end);
    margin-top: 30px;
    &__elementohijo{
        @extend %hijo;
    }
}
.contenedorgridjustifycontentcenter{
    display:grid;/*Se muestra en línea*/
    @extend %contenedor;
    @include justifycontent(center);
    margin-top: 30px;
    &__elementohijo{
        @extend %hijo;
    }
}

.contenedorgridjustifycontentspacearound{
    display:grid;/*Se muestra en línea*/
    @extend %contenedor;
    @include justifycontent(spacearound);
    margin-top: 30px;
    &__elementohijo{
        @extend %hijo;
    }
}

@mixin aligncontent($valor) {
    align-content: $valor;
    
}

.contenedorgridaligncontent{
    display:grid;/*Se muestra en línea*/
    @extend %contenedor;
    @include justifycontent(center);
    @include aligncontent(center);
    margin-top: 30px;
    min-height: 600px;
    &__elementohijo{
        @extend %hijo;
    }
}